.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #0F0E18;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  border-color: #686A6B;
  border-width: thick;
  border-style: solid;
  border-radius: 5px;
}

.App-link {
  color: #09d3ac;
}

.top-section {
  margin-top: 25px;
}

.score-section {
  display: inline-block;
  width: 100%;
}

.logos {
  text-align: center;
  display: block;
  font-size: 36px;
}

.gameon-logo {
  margin-right: 20px;
  width: 200px;
}

.toms-logo {
  margin-left: 20px;
  width: 150px;
}

.teams {
  text-align: center;
  margin-top: 2%;
}

.team-block {
  display: block;
  text-align: center;
  min-height: 250px;
  /* position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%); */
}

.score-block {
  text-align: center;
  display: block;
  min-height: 50px;
  margin-top: 30px;
 font-size: 120px;
 font-weight: bold;
}

.time-period-block {
  position: relative;
}

.time-period-block span {
  position: absolute;
  bottom: 20%;
  right: 0%;
  line-height: 36px;
  font-size: 36px;
}

.team-logo {
  width: 245px;
}

.team-logo-vertical {
  width: 215px;
}

/* Countdown Component */
.time {
  font-family: 'GothamCondensed';
  font-size: 3rem;
  /* margin-left: 20px; */
}
.suffix {
  font-family: 'GothamBold';
  font-size: 1.5rem;
}


.download-instruction {
  font-family: 'LemonMilk';
  line-height: 2.0rem;
  font-size: 1.5rem;
}

.bar-code {
  font-family: 'GothamBold';
  font-size: 50px;
}



.leaderboard-section {
  display: inline-block;
  width: 100%;
}
.leaderboard {
  min-width: 100px;
  min-height: 100px;
  max-height: 700px;
  height: 650px;
  background: #191822;
  padding: 25px;
  margin-right: 25px;
  text-align: center;
  overflow-y: hidden;
}

.leaderboard::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.leaderboard::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.contestant {
  margin-top: 25px;
}

.position {
  margin-top: 1%;
}

.user-info {
  text-align: left;
  font-size: 22px;
}

.avatar {
  width: 55px;
  margin-right: 10px;
}

.points {
  margin-top: 1%;
}



.prize-section {
  position: absolute;
  bottom: 8px;
  width: 100%;
  margin-left: 0;
}

.prizes {
  margin-right: 25px;
  margin-left: 25px;
  background: #191822;
  min-height: 100px;
  width: 100%;

}

.prize-column {
  padding-right: 10px !important;
  padding-left: 10px  !important;
}

.prize-logo {
  width: 45%;
  margin: 15px;
}

.deal-details {
  padding: 20px 0;
}

.deal-title {
  font-weight: bold;
  font-size: 1rem;
  font-family: 'GothamBold';
}

.deal-explanation {
  font-size: 1.0rem;
}
