@font-face {
  font-family: 'LemonMilk';
  src: local('LemonMilk'), url(./fonts/LemonMilkbold.otf) format('truetype');
}

@font-face {
  font-family: 'GothamBold';
  src: local('GothamBold'), url(./fonts/Gotham-Bold.otf) format('truetype');
}

@font-face {
  font-family: 'GothamCondensed';
  src: local('GothamCondensed'), url(./fonts/GothamCondensed-Black.otf) format('truetype');
}

@font-face {
  font-family: 'SFUIDisplay-Heavy';
  src: local('SFUIDisplay-Heavy'), url(./fonts/SF-UI-Display-Heavy.otf) format('truetype');
}

@font-face {
  font-family: 'Barlow-Regular';
  src: local('Barlow-Regular'), url(./fonts/Barlow-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'BarlowCondensed-Regular';
  src: local('BarlowCondensed-Regular'), url(./fonts/BarlowCondensed-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'BarlowCondensed-MediumItalic';
  src: local('BarlowCondensed-MediumItalic'), url(./fonts/BarlowCondensed-MediumItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'TrumpGothicPro';
  src: local('TrumpGothicPro'), url(./fonts/TrumpGothicPro.otf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
